*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   scroll-behavior: smooth;
   
}

body {
  margin: 0;
  font-family: sans-serif;
   background-color: #000000;
 
   
}

@media screen and (max-width: 480px) {
  .container {line-height:normal;width: 100%;}
  .div1 h2 {font-size: 20px;}/* #main {margin-left: 216px;} */
  .div1 p{font-size: 20px;}
  .div2 img{width: 100%;align-items: center;}
}

@media screen and (max-width:480px ;){

}
  


a{
  text-decoration: none;
  
}

.navbar {
  display: flex;
  position: fixed;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #000000de;
  border-bottom: 1px solid #000000;
 border-radius: 30px;
   z-index: 100%;
   top: 0;
}

.logo1 {
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #e1dddd;
  width: 100px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  position: fixed;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  text-decoration: none;
  color: #e1dddd;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #007BFF;
}

.container{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}
.div1{
    position: relative;
color: #ddd;
width: 50%;
height: auto;
justify-content: center;
align-items: center;
font-size: 30px;
line-height: 50px;
}
.div1:hover{
    /* background: #007BFF; */
}
.div2{
    justify-content: center;
    align-items: center;
   
}
button{
    background-color: rgb(141, 27, 216);
    color: white;
    width: 120px;
    height: 40px;
     border: none;
    border-radius: 5px;
    font-size: medium;
}
.second_container{
    display: flex;
    color: aliceblue;
      justify-content: center;
    align-items: center;
   background-color: black;
    flex-wrap: wrap;
    padding: 50px;

    
   
}
.secdiv1{
    width: 50%;
   justify-content: center;
   align-items: center;
  
    
}
.secdiv2{
    width: 50%;
    justify-content: center;
    align-items: center;
   
    color: white;
   
}


.thirdcontainer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  flex-wrap: wrap;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  grid-gap: 10px;
  flex-wrap: wrap;
}

.logo  {
  background: white;
  width: 180px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
}

.experience-box {
  background: #000000;
  padding: 30px;
  border-radius: 12px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}

.years {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  border: 2px dashed #ccc;
  padding: 20px;
  border-radius: 10px;

}
.logo:hover{
     color: #000000;
   background-color: #000000;
   
}
.logo img:hover{
    width: 100px;
}
.number {
  font-size: 90px;
  font-weight: bold;
  color: #8054f3;
  margin-right: 20px;
}

.text {
  font-size: 20px;
  font-weight: 600;
}

.call-text {
  color: #8054f3;
  font-weight: bold;
  margin-bottom: 10px;
}

.phone {
  font-size: 20px;
  font-weight: bold;
}

.phone i {
  color: #000;
  margin-right: 10px;
}
.call{
    color: white;
}
.text{
    color: white;
}

/* section 4 */



.services {
  padding: 60px 20px;
  background-color: #040404;
  text-align: center;
}

.services h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.services .subtext {
  max-width: 600px;
  margin: 0 auto 40px;
  font-size: 14px;
  color: #777;
}

.service-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.service-card {
  background-color: #fff;
  padding: 30px 20px;
  width: 200px;
  box-shadow: 0 0 10px rgba(228, 15, 15, 0.05);
  border-radius: 10px;
  transition: 0.3s ease;
  z-index: 50%;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.service-card img {
  width: 60px;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 13px;
  color: #666;
}

/* section 5 */

.projects {
  margin: 40px 0;
}

.projects h2 {
  text-align: center;
  margin-bottom: 20px;
  color: blueviolet;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  background: white;
  padding: 20px;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card a {
  color: #0077cc;
  text-decoration: none;
  font-weight: bold;
}

.project-card img{
 width: 450px;
 height: 400px;
}





.contact {
  text-align: center;
  margin: 60px 0;
}

.contact a {
  color: #0077cc;
  text-decoration: none;
}

.socials {
  margin-top: 10px;
}

.socials a {
  margin: 0 10px;
  text-decoration: none;
  color: #555;
}
.socials a:hover{
    color: #8054f3;
}
footer {
  text-align: center;
  padding: 20px 0;
  background: #222;
  color: #aaa;
  font-size: 0.9em;
}

/* section 6 contact */

.contain{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.con1{
  width: 50%;
  height: 80vh;
  background-color: #000000;
  color: #555;
  text-align: center;
  justify-content: center;
  
}
    .con2 {
      max-width: 600px;
      margin: 50px auto;
      padding: 30px;
      background-color: rgb(0, 0, 0);
      border-radius: 10px;
     border-style: dashed;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

 label {
      display: block;
      margin-bottom: 5px;
      color: #555;
      font-weight: 500;
    }

    input, textarea {
      width: 100%;
      padding: 12px;
      margin-bottom: 20px;
      border: 1px solid #555;
      border-radius: 6px;
      font-size: 16px;
     color: #555;
      background-color: #000000;

    }

    textarea {
      resize: vertical;
      min-height: 100px;
    }

    .button6 {
      width: 100%;
      padding: 12px;
      background-color: #8a17d2;
      border: none;
      border-radius: 6px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #0056b3;
    }
   .h11{
     text-align: center;
      margin-bottom: 30px;
      color: #8054f3;
   }
   iframe{
    border-radius: 20px;
    filter: grayscale(100%);
    

   }

   .info-box {
  display: flex;

  /* align-items: center; */
  /* margin-bottom: 30px; */
  
}
.info-box h3{
  text-align: center;
 
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
 align-items: center;
  justify-content: center;
  text-align: center;
}

.icon i {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.text h3 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #8054f3;
}

.text p {
 margin: 10px;
  color: #555;
}
.png{
margin-left: 100px;

}
.icon i:hover{
  background-color: #000000;
  color: #a619d1;
}
.icon:hover{
  background-color: black;
}